@use "../styles.scss";

$small-font: 0.8rem;
$medium-font: 1rem;
$big-font: clamp(0.5rem, 2vw, 1.4rem);

.container {
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 10%;
  grid-template-areas:
    "nav nav nav"
    "main main aside"
    "heading action aside"
    "cards cards cards";
}
.container > * {
  border: 2px solid;
}
.grid {
  display: grid;
  gap: $small-font;
}
nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.nav-links a {
  color: black;
}
.logo {
  font-size: 32px;
}
.menu {
  display: flex;
  gap: 1em;
  font-size: 13px;
  font-weight: 700;
}
.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}
.menu li a {
  color: hsl(236, 13%, 42%);
}
input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
main {
  grid-area: main;
  img {
    width: 100%;
    object-fit: fill;
    height: 100%;
  }
}
.heading {
  grid-area: heading;
  font-size: $big-font;
  text-wrap: balance;
  max-height: 100%;
}
.call_to_action {
  grid-template-rows: 1fr auto;
  height: 100%;
  grid-area: action;
  p {
    font-size: $medium-font;
    font-weight: 100;
    line-height: 1.1;
  }
  button {
    padding: 10px;
    background: orangered;
    border: none;
    color: white;
    justify-self: start;
  }
}
aside {
  grid-area: aside;
  padding: 2rem;
  background-color: styles.$dark-bg;
  color: styles.$white-text;
  p {
    font-size: $small-font;
    padding-bottom: 20px;
  }
  h4 {
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.cards {
  grid-area: cards;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid red;
  h2 {
    font-size: $medium-font;
  }
  p {
    font-size: $small-font;
  }
}
.card_image {
  grid-column: 1/2;
  width: 100%;
  max-height: 100%;
  object-fit: fill;
}
.card_content {
  grid-column: 2/4;
  span {
    padding-bottom: 5px;
  }
  p {
    padding-top: 5px;
  }
}

@media (550px < width < 999px) {
  .heading {
    display: grid;
    // justify-content: center;
    align-items: center;
  }
  .call_to_action p {
    display: grid;
    font-size: $small-font;
    align-items: center;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 2.2fr 1.5fr 1.5fr 1.5fr;
    gap: 0.5rem;
    padding: 0;
    grid-template-areas:
      "nav"
      "main"
      "heading"
      "action"
      "aside"
      "cards"
      "cards"
      "cards";
  }
  .cards {
    display: block;
  }
  // .content3, .content4, .content5 {
  //     max-height: 100%;
  // }
  .card_image {
    width: 100%;
    height: 100%;
  }
  .menu {
    display: none;
    position: absolute;
    background-color: rgb(119, 149, 149);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #6beaea;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}
