@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@900&display=swap");

$dark-bg: hsl(240, 100%, 5%);
$white-text: hsl(36, 100%, 99%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Josefin Slab";
}
