<div class="container">
    <div class="card">
        <div class="image">
            <img src="../../../assets/images/image-retro-pcs.jpg" alt="retro-computer-image">
        </div>
        <div class="card-content">
            01
            <h3>Reviving Retro PCs</h3>
            <p>
              What happens when old PCs are given modern upgrades?
            </p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../assets/images/image-top-laptops.jpg" alt="laptop-keyboard-image">
        </div>
      <div class="card-content">
        02
        <h3>Top 10 Laptops of 2022</h3>
        <p>
          Our best picks for various needs and budgets.
        </p>
    </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../assets/images/image-gaming-growth.jpg" alt="">
        </div>
      <div class="card-content">
        03
        <h3>
          The Growth of Gaming
        </h3>    
        <p>
          How the pandemic has sparked fresh opportunities.
        </p>
    </div>
    </div>
  </div>

